<!DOCTYPE html>
<html>
<head>
	<script src="https://use.fontawesome.com/c5e5f4da9c.js"></script>
	<link rel="stylesheet" type="text/css" href="./stylesheets/index.css">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="https://fonts.googleapis.com/css?family=Berkshire+Swash|Lobster+Two|Permanent+Marker" rel="stylesheet">
	<title>Welcome</title>
</head>

<body>
	<nav class="nav_bar">
					<h1>Daily fresh</h1>
	
	</nav>   
<div class="master_container">
<form action="">
		
	   <P class="papa1"> WELCOME TO MORE RECIPES</P><br/><br/>

	   <P class="papa2">Get Started</P>   

	  <div class="container">
	  	<button class="btn"> Create Account</button>
	  	<button class="btn1"><i class="fa fa-facebook-official" aria-hidden="true">Join with Facebook</button></i></button>
	  	<div class="form_space"></div>
	   <br> <p> Already have an account?</p>
	   <button class="btn2"> Sign in</button>
  </div>

  
	
</form>
</div>
</body>
</html>