<!DOCTYPE html>
<html>
<head>
	<title>login</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" type="text/css" href="stylesheets/login.css">
</head>
<body>
	<div class="coverContainer">	<img class="coverImg" src="./images/beansB.jpg" />
		</div>

	<div class="loginBox">
		<img src="./images/user.png" class="userImg" />
		<h2>Log in Here</h2> 
		<form>  
			<p>Email</p>
			<input type="text" name="email" placeholder="Enter Email">
			<p>Password</p>
			<input type="Password" name="password" placeholder="*******"><br />
			<input type="Submit" name="" value="Sign In">
			<a href="#"> forget password?</a>
		</form>
	</div>

</body>
</html>    