<!DOCTYPE html>
<html>
<head>
	<title>Profile</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" type="text/css" href="./stylesheets/profile.css">
</head>
<body>
	<header class="mainHeader">
		<nav class="navHeader ">
				<a href="#"><h2>HOME</h2></a>
			<ul class="mainNav">
				
				<li class="item"><a href="#">RECIPE </a></li>
				<li class="item"><a href="#">PROFILE </a></li>
				<li class="item"><a href="#">RECIPE SETTINGS </a></li>
			</ul>
		</nav>  
		</header>
		<div class="content">

			<div id="basicHeader" class="contentDiv contentH">

				<div class="update">
					<h2>Update profile</h2>
				</div>
				<form class="userForm">
					 <p>NAME</p>
					<input type="text" name=""><br>
					<P>USERNAME</P>
					<input type="text" name="username"><br>
					<P>EMAIL</P>
					<input type="text" name="email"><br>
					<input type="Submit" name="" value="Update Info"> <span>change password?</span>

				</form>
			</div>
			<div class="contentDiv">
				
			</div>
			<div class="contentDiv">
				
			</div>
			<div class="contentDiv">
				
			</div>

		</div>
	<footer></footer>
	

</body>
</html>