<html>
<head>
	<title>Home</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" type="text/css" href="stylesheets/recipeDetails.css">
	<script src="https://use.fontawesome.com/964ed2f2ae.js"></script>
</head>

<body>
    
    <header class="mainHeader">
		<nav class="navHeader ">
 			<ul class="mainNav">
				<li class="item myHome"><a href="#">HOME </a></li>
				<li class="item"><a href="#">RECIPE </a></li>
				<li class="item"><a href="#">PROFILE </a></li>
				<li class="item"><a href="#">RECIPE SETTINGS </a></li>
			</ul>
		</nav>  
		</header>
    

</body>



</html>