<!DOCTYPE html>
<html>
<head>
	<title>Recipes</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" type="text/css" href="./stylesheets/recipes.css">
</head>

<body>
	<header class="mainHeader">
		<nav class="navHeader ">
 			<ul class="mainNav">
				<li class="item myHome"><a href="#">HOME </a></li>
				<li class="item"><a href="#">RECIPE </a></li>
				<li class="item"><a href="#">PROFILE </a></li>
				<li class="item"><a href="#">RECIPE SETTINGS </a></li>
			</ul>
		</nav>
		</header>
		<div class="content">
			<h2>RECIPES DETAILS</h2>
			<div class="contentBody">
				<div class="recipeItems itemContent" >
					<img src="./images/recipes/chicken.jpg" alt="img">
					<div class="foodD">
						<h3>Chicken</h3>
						<p>
							Fried chicken  mehn, guys this recipe will change your lunch game forever! I am not even kidding. ITs specially made in nigeria anytime
						</p>
						
					</div>
					<div class="edit">modify</div>
					
				</div>
				
				<div class="recipeItems itemContent" >
					<img src="./images/recipes/canned-pizza-dough.jpg" alt="canned-pizza-dough">
					<div class="foodD">
						<h3>Chicken</h3>
						<p>
							Fried chicken  mehn, guys this recipe will change your lunch game forever! I am not even kidding. ITs specially made in nigeria anytime
						</p>
						
					</div>
					<div class="edit">modify</div>
					
				</div>

				<div class="recipeItems itemContent" >
					<img src="./images/recipes/Chicken_Parmesan_Bundles.jpg" alt="Chicken_Parmesan_Bundles">
					<div class="foodD">
						<h3>Chicken</h3>
						<p>
							Fried chicken  mehn, guys this recipe will change your lunch game forever! I am not even kidding. ITs specially made in nigeria anytime
						</p>
						
					</div>
					<div class="edit">modify</div>
					
				</div>

				<div class="recipeItems itemContent" >
					<img src="./images/recipes/choco.jpeg" alt="choco">
					<div class="foodD">
						<h3>Chicken</h3>
						<p>
							Fried chicken  mehn, guys this recipe will change your lunch game forever! I am not even kidding. ITs specially made in nigeria anytime
						</p>
						
					</div>
					<div class="edit">modify</div>
				</div>

				<div class="recipeItems itemContent" >
					<img src="./images/recipes/hearty-potato.jpg" alt="hearty-potato">
					<div class="foodD">
						<h3>Chicken</h3>
						<p>
							Fried chicken  mehn, guys this recipe will change your lunch game forever! I am not even kidding. ITs specially made in nigeria anytime
						</p>
						
					</div>
					<div class="edit">modify</div>
					
				</div>

				<div class="recipeItems itemContent" >
					<img src="./images/recipes/pasta-sauce.jpg " alt="pasta-sauce">
					<div class="foodD">
						<h3>Chicken</h3>
						<p>
							Fried chicken  mehn, guys this recipe will change your lunch game forever! I am not even kidding. ITs specially made in nigeria anytime
						</p>
						
					</div>
					<div class="edit">modify</div>
				</div>

				<div class="recipeItems itemContent" >
					<img src="./images/recipes/planetary.jpeg" alt="planetary">
					<div class="foodD">
						<h3>Chicken</h3>
						<p>
							Fried chicken  mehn, guys this recipe will change your lunch game forever! I am not even kidding. ITs specially made in nigeria anytime
						</p>
						
					</div>
					<div class="edit">modify</div>
					
				</div>

				<div class="recipeItems itemContent" >
					<img src="./images/recipes/prasta.jpeg" alt="prasta">
					<div class="foodD">
						<h3>Chicken</h3>
						<p>
							Fried chicken  mehn, guys this recipe will change your lunch game forever! I am not even kidding. ITs specially made in nigeria anytime
						</p>
						
					</div>
					<div class="edit">modify</div>
					
				</div>

				<div class="recipeItems itemContent" >
					<img src="./images/recipes/spag.jpeg" alt="spag">
					<div class="foodD">
						<h3>Chicken</h3>
						<p>
							Fried chicken  mehn, guys this recipe will change your lunch game forever! I am not even kidding. ITs specially made in nigeria anytime
						</p>
						
					</div>
					<div class="edit">modify</div>
					
				</div>

				<div class="recipeItems itemContent" >
					<img src="./images/recipes/sussage.jpg" alt="sussage" />
					<div class="foodD" >
						<h3>Chicken</h3>
						<p>
							Fried chicken  mehn, guys this recipe will change your lunch game forever! I am not even kidding. ITs specially made in nigeria anytime
						</p>
						
					</div>
					<div class="edit">modify</div>
					
				</div>

				<div class="recipeItems itemContent" >
					<img src="./images/recipes/pasta-sauce.jpg" alt="pasta-sauce.jpg">
					<div class="foodD">
						<h3>Chicken</h3>
						<p>
							Fried chicken  mehn, guys this recipe will change your lunch game forever! I am not even kidding. ITs specially made in nigeria anytime
						</p>
						
					</div>
					<div class="edit">modify</div>
					
				</div>

				<div class="recipeItems itemContent" >
					<img src="./images/recipes/turkish-dessert-recipes-turkish-sweets.jpg" alt="turkish-dessert-recipes-turkish-sweets">
					<div class="foodD">
						<h3>Chicken</h3>
						<p>
							Fried chicken  mehn, guys this recipe will change your lunch game forever! I am not even kidding. ITs specially made in nigeria anytime
						</p>
						
					</div>
					<div class="edit">modify</div>
					
				</div>


			</div>
			
		</div>

	<footer>
	<nav class="footNav">
		<a class="copyR" href="#">2017 &copy; all right reserved. created by phemy  </a>
		<a href="#">HOME </a>
		<a href="#">RECIPE </a>
		<a href="#">LOG OUT </a>
		<a href="#">PROFILE </a>

	</nav>

</body>
</html>