html {
  box-sizing: border-box;
}

body{ margin: 0; padding: 0; box-sizing: border-box;
	font-family: 'Bungee Inline', cursive;
font-family: 'Faster One', cursive;
font-family: 'Kumar One Outline', cursive;
font-family: 'Leckerli One', cursive;
font-family: 'Niconne', cursive;

font-family: 'Pattaya', sans-serif;



}



ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;

 
}

li{
    float: left;
}


li a {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}


li a:hover:not(.active) {
    background-color: #111;
}

.active {
    background-color:#f93f23;
    float: left;
      position: relative;
      left: 40%;
      line-height: 0px
     font-size:3em; box-sizing: border-box;
}
.footer{width: 100%;}
.btn{ width: auto;
    padding: 14px 20px;
    background-color: #f44336;
    border: none;
    cursor: pointer;
    color: white;}
.container1{ position: relative;font-size: 50px; }

 
input[type=search]{
	width: 70%;
	margin: 0 auto;
	padding: 12.5px 20px;
	border: 1px solid black;
	background: white;
	top:50%;  left: 15%;
	position: absolute;
}
.btn{ width: auto;
    padding: 14px 20px;
    background-color: #f93f23;
    border: none;
    cursor: pointer;
    color: white;
position: absolute;
top:50%; left:85%;}
h1{font-size: 1.5em;  text-shadow: 2px 2px 4px #000000; color:#eeb44b; position: absolute; top:15%; left:30%; }

.area2{}
.content-wrap{
	width:1100px;
	margin:0 auto;
}  

.foodgallery {
  
  background-color: white;
  padding: 0 0px;
    float: left;
   width: 250px;
   margin: 10px;
}


.foodgallery:hover{ box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);}
.area3{ width: 100%; box-sizing: border-box;  display: inline-block;margin-top: 5%; float: left; margin-bottom: 2%; }
.about{ width: 50%;float: left; }
.abouttext{ width: ; overflow: hidden; background: grey;padding: 30px 30px 76px 30px; }
.abouttext h2{ text-align: center; color: white; text-decoration: none; }
.abouttext h3{  color: white; text-decoration: none; }





